.about-us {
    background-color: #F9E67E;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
}

.title {
    font-family: Lovelo-Black;
    font-size: 50px;
    background-image: url(https://localhost:7255/wwwroot/upload/image/about-site/about-us-title-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0px;
    text-align: center;
    color: #fff;
}


span {
    color: #F96060;
}

.about-img {
    width: 100%;
    margin-left: 30px;
    margin-top: 25px;
    vertical-align: middle;
    border-style: none;
}

/*service*/
.service {
    background-image: url(https://localhost:7255/wwwroot/upload/image/3service/service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.service-img {
    margin: auto;
    vertical-align: middle;
    border-style: none;
}


.service h3 {
    font-family: Lovelo-Black;
    color: #7EAFF9;
    font-size: 22px;
}
/*offer*/
.offer {
    background-image: url(https://localhost:7255/wwwroot/upload/image/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 200px;
}

.text-center {
    text-align: center;
}

.offer h2 {
    font-family: Lovelo-Black;
    font-size: 35px;
    color: #FFF;
    margin: 0px;
}

.offer p {
    font-family: Gabriola;
    font-size: 55px;
    margin: 0px;
    color: #fff;
}
