@page

@model Customer.Pages.CategoryModel
@{
	string ApiUrl = "https://localhost:7255/wwwroot/upload";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="product-section section-padding">
	<h2 class="title-bg-gray">Products</h2>

	<div class="container">
		<div class="row" style="padding-left: 14%">
			@foreach (var item in @Model.productViewModel.productDto)
			{
				<div class="card text-center col-lg-3 col-md-3 mb-2 m-2" style="width:20%">
					<a asp-page="Detail" asp-route-id="@item.Id">
					<img src="@ApiUrl/image/product/@item.Images.FirstOrDefault().Url" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">@item.ProductName</h5>
					</div>
					</a>
				</div>
			}
		</div>
	</div>

</div>

<div class="offer text-center">
	<div class="container">
		<h2>Special Offer</h2>
		<p>Fresh Flowers for any special occasion</p>
	</div>
</div>
