@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="gioi_thieu">
                        <h5 class="header text-uppercase font-weight-bold">Floda</h5>
                        <a href="#">About Floda</a>
                        <a href="#">Recruitment</a>
                        <div class="fb-like" data-href="https://www.facebook.com/DealBook-110745443947730/"
                             data-width="300px" data-layout="button" data-action="like" data-size="small"
                             data-share="true"></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="hotrokh">
                        <h5 class="header text-uppercase font-weight-bold">Customer Support</h5>
                        <a href="#">Ordering Instruction</a>
                        <a href="#">Payment Method</a>
                        <a href="#">Shipping Method</a>
                        <a href="#">Return Policy</a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                        <div class="lienket">
                            <h5 class="header text-uppercase font-weight-bold">Cooperation and Link</h5>
                            <img src="~/images/dang-ky-bo-cong-thuong.png" alt="dang-ky-bo-cong-thuong">
                        </div>
                </div>    
                <div class="col-md-3 col-xs-6">
                    <div class="ptthanhtoan">
                        <h5 class="header text-uppercase font-weight-bold">Payment Method</h5>
                        <img src="~/images/visa-payment.jpg" alt="visa-payment">
                        <img src="~/images/master-card-payment.jpg" alt="master-card-payment">
                        <img src="~/images/jcb-payment.jpg" alt="jcb-payment">
                        <img src="~/images/atm-payment.jpg" alt="atm-payment">
                        <img src="~/images/cod-payment.jpg" alt="cod-payment">
                        <img src="~/images/payoo-payment.jpg" alt="payoo-payment">
                    </div>
                </div>
            </div>
        </div>

        <!-- nut cuon len dau trang -->
        <div class="fixed-bottom w-100 ">
            <div class="scrollup" href="#">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
       
    </footer>

}
